#results {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#results tr {
    background-color: #AAAAAA;
    padding: 5vh;
    font-size: 1.5vw;
}

#results tr:nth-child(odd) {
    background-color: #808080;
}

#results tr:first-child {
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2vw;
}

#results tr th {
    padding: 1vw;
}

#results tr td {
    padding: 1vw;
    transition: font-size 0.2s;
}

#results tr:not(:first-child):hover {
    background-color: #F0F8FF;
    color: #000000;
    font-size: 2.25vw;
}

input {
    display: list-item;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 7px;
    margin-right: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5vw;
}
button:hover {
    background-color: #45a049;
}

#spinner {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

#spinner::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}