@import "typography.css";
@import "navigation.css";
@import "layout.css";

/* - - - - - - MQ start - - - - - -*/
@media (min-width: 600px) {
      html {
            font-size: 14px;
            }
      }

@media (min-width: 1000px) {
      html {
            font-size: 16px
            }

      .nav {
            display: block;
            }

      #nav-toggle:checked + .site-header .nav {
            display: block;
            margin: 0;
            }

      .nav-toggle-button {
            display: none;
            }

      .nav > ul {
            display: flex;
            }

      .nav ul > li {
            display: block;
            margin: 0 0 0 1em;
            padding: 0;
            }

      #nav-toggle:checked + .site-header .nav ul > li {
            width: auto;
            margin: 0 0 0 1em;
            }

      .site-header .nav-position {
            width: 56em;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            }

      #nav-toggle:checked + .site-header  {
            display: flex;
            align-items: center;
            justify-content: space-between;
            }
      }

@media (min-width: 1600px) {
      html {
            font-size: 18px
            }
      }

/* - - - - - - MQ end - - - - - - */