html {
    font: 14px/1.5 Verdana, sans-serif;
}

body, table, form, input, select, option {
    font: inherit;
}

table {
    border: 1px solid #000;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table th, table td {
    border: 1px solid #000;
    padding: 0.5em;
}


table span {
     display: none;
}